.header {
    background-color: var(--white);
    padding: 16px 16px 69px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-4);
}
.header__logo {
    text-align: center;
}
.header__title {
    margin-top: 48px;
}