.skeleton {
    box-sizing: border-box;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 24px 40px 32px 24px;
    width: 579px;
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}
.skeleton__avatar {
    background: var(--grey-2);
    border-radius: 100%;
    width: 64px;
    height: 64px;
}

.skeleton__text {
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    width: 515px;
    height: 20px;
    margin-top: 8px;
}
.skeleton_name {
   width: 172px;
}
.skeleton_surname {
    width: 257px;
}
