.checkbox {
    display: inline-block;
    position: relative;
}
.checkbox__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.checkbox__state {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.checkbox__control {
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox__icon {
    display: none;
}
.checkbox__label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}
.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background: #4263EB;
    border-color: #4263EB;
}
.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
    display: block;
}
.checkbox__input:focus ~ .checkbox__state .checkbox__label {
    text-decoration: underline;
}
.checkbox__input:disabled ~ .checkbox__state {
    pointer-events: none;
}
.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    background: var(--grey-2);
    border-color: var(--grey-2);
}
.checkbox__input:disabled ~ .checkbox__state .checkbox__label {
    color: var(--grey-2);
} 