.menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.menu__header {
    position: relative;
    display: flex;
    border-bottom: 1px solid var(--grey-2);
    padding-bottom: 40px;
}
.menu__button {
    border-radius: 50%;
    border: none;
    background: var(--grey-2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__logo {
    position: absolute;
    right: calc(50% - 55px);
}
.menu__dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    border-bottom: 1px solid var(--grey-2);
}
.menu__darkText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}