.input {
    display: inline-block;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}
.input__wrapper {
    position: relative;
}
.input__text {
    border: 1px solid var(--grey-2);
    display: block;
    width: 350px;
    height: 56px;  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding-left: 10px;
    color: var(--grey-4);
    border-radius: 8px;
}
.input__text:focus {
    outline: 0;
    border-color: #4263EB;
} 
.input__successImg {
    
    position: absolute;
    top: 35px;
    right: 20px;
}
.input__invalidImg {
    display: none;
    position: absolute;
    top: 35px;
    right: 20px;
}
.input__text_success ~ .input__successImg {
    display: block;
}
.input__text_invalid ~ .input__invalidImg {
    display: block;
}
